# Виртуальное окружение
# Исключаем папку venv, которая создается для управления зависимостями проекта.
venv/
.venv/
env/
.env

# Файлы кэша Python
# Исключаем байт-код Python и каталоги кэша.
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE и редакторов кода
# Исключаем конфигурационные файлы популярных редакторов.
.idea/
.vscode/
*.swp
*.swo

# Файлы базы данных
# Исключаем локальные файлы баз данных, если они используются для разработки.
*.sqlite3
*.db

# Папка instance в Flask
# Исключаем папку instance, которая может содержать конфиденциальные данные.
/instance

# Файлы операционной системы
# Исключаем системные файлы, создаваемые macOS и Windows.
.DS_Store
Thumbs.db

# Файлы логов
# Исключаем файлы журналов, которые генерируются во время работы приложения.
*.log

# Файлы окружения
# Исключаем файлы, содержащие переменные окружения и секретные ключи.
.env.*
.flaskenv

# Папки с медиафайлами (если они загружаются пользователями)
# Если у вас есть папка для загружаемых пользователями изображений, её стоит исключить.
# /uploads/
# /media/